body{
    background-image: url("../IMG/Backgrounds/3ee7459cfdbce3cce499d2fd0583f5a4.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    padding: 1%;
}
